/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/* MVP completed:
All content
All variables
Nested
Two mixins
Mobile view

Stretch:
Incorporated google font
/*
/* Variables */
/* Variables */
/* Variables */
html {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 18px;
}
html body {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  align-items: center;
  width: 800px;
  margin: 30px auto;
  color: white;
  /* Mobile view */
  /* Mobile view */
  /* Mobile view */
  /* Mix-in */
  /* Mix-in */
  /* Mix-in */
  /* Mix-in 2 */
  /* Mix-in 2 */
  /* Mix-in 2 */
}
@media (max-width: 500px) {
  .container {
    width: 500px;
  }
}
.container header {
  font-size: 20px;
}
.container header nav {
  margin: auto;
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  word-spacing: 55px;
}
.container header nav .nav_item {
  border: 2px solid #78BE21;
  padding: 10px;
  border-radius: 20px;
}
.container header nav .nav_item a {
  text-decoration: none;
  color: white;
}
.container header nav .nav_item:hover {
  border: 2px solid #6495ED;
}
.container .list_property {
  list-style-type: square;
  font-size: 1rem;
  padding: 20px;
}
.container ul {
  list-style-type: square;
  font-size: 1rem;
  padding: 20px;
}
.container .logo {
  display: flex;
  margin: auto 20px;
}
.container h1 {
  font-size: 1.5rem;
  display: flex;
  padding-bottom: 10px;
  color: #78BE21;
}
.container .section_rules {
  border: 1px solid #6495ED;
  padding: 10px;
  color: white;
  line-height: 1.5rem;
}
.container #intro {
  border: 1px solid #6495ED;
  padding: 10px;
  color: white;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container #skills {
  border: 1px solid #6495ED;
  padding: 10px;
  color: white;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
}
.container #work {
  border: 1px solid #6495ED;
  padding: 10px;
  color: white;
  line-height: 1.5rem;
  justify-content: left;
  padding: 60px;
  display: flex;
}
.container #contact {
  border: 1px solid #6495ED;
  padding: 10px;
  color: white;
  line-height: 1.5rem;
  justify-content: left;
  padding: 60px;
  display: flex;
}
.container #contact .button_submit {
  border: 1px solid #78BE21;
  align-items: center;
  width: 25%;
}
.container p {
  line-height: 1.2rem;
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
}
/*.container {
	width: 800px;

	header {	
	font-size: 40px;
	
		nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		word-spacing: 30px;
		align-items: center;
	}

	h1 {
		font-size: 2rem;
		color: @color_primary;
	}
}	
}
*/
